
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
}


h1 {
    text-align: center;
}
section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
}

nav{
    text-align: right;
}

nav.active a{
    display: block;
}

nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: left;
}


@media screen and (min-width: 700px){
    .menu-btn{
        display: none;
    }

    nav{
        text-align: right;
    
    }
    nav a, nav.active a{
        display: inline-block;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        /* make as many rows as you need */
    }
}

@media screen and (min-width: 1024px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* hide */