body{
    background: #CCCCCC;
    text-align: center;
    font-family: Roboto, sans-serif;

}

header, main, footer{
    max-width: 1000px;
    margin: 0 auto;
}

header, nav{
    background-color: #437EDA;
    color: white;
    margin: 1rem auto;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
}