body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    text-align: center;
}

nav{
    text-align: right;
    border-top: 3px solid #F0CCA4;
    border-bottom: 3px solid #F0CCA4;
    padding: 20px;
}

nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #8B0000;
    font-size: large;
    margin-left: 20px;
    margin-right: 10px;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.book-entry{
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    padding-bottom: 40px;
    border-bottom: 3px solid #F0CCA4;
}

.book-entry:last-child {
    border-bottom: none;
}

.book-info{
    grid-column: 2/3;
    padding-right: 30px; 
    text-align: right;
}

.book-info div{
    font-style: italic;
}

.book-details{
    grid-column: 3/4;
    border-left: 3px solid #F0CCA4;
    padding-left: 30px;
}

.book-details h2{
    color: #8B0000;
    text-align: left;
}

.book-details p{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.book-details img{
    display: block;
    margin: 20px auto;
    max-width: 300px;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 3px solid #F0CCA4;
    padding: 20px;
}

@media (max-width: 600px) {
    .book-entry{
       display: block; 
    }

    .book-info{
        text-align: right;
        margin-bottom: 20px;
    }
    
    .book-details{
        border: none;
        padding-left: 0;
    }
}