body{
    text-align: center;
    border: 2px solid rgb(159, 159, 159);
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}


header h1{
    margin-top: 30px;
    margin-bottom: 10px;
}

header h4{
    margin: 0 auto;
    color: rgb(57, 109, 241);
    font-weight: 450;
}

hr{
    margin: 0 auto;
    width: 500px;
}

.statement{
    width: 500px;
    margin: 0 auto;
    text-align: left;
    /* border: 2px solid black; */
}

.italic{
    font-style: italic;
}

li{
    margin: 0px 0px 20px 0px;
}

footer img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}